*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: rgb(9, 59, 57);
    background-size: cover;
    height: 30rem;
}
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: hsla(0, 0%, 100%, 0.904);
    font-size: 45px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 30px;
}
.menu{
    width: 20%;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 40px;
    font-size: 23px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(245, 100, 112);
}
.contact{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.contact .btn{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 27px;
    color: rgba(255, 255, 255, 0.938);
    font-size: 23px;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background-color: rgb(245, 100, 112);
}
.content{
    width: 1200px;
    margin: auto;
    color: #ffffffe0;

}
.content .par{
    border-left: 4px solid rgb(245, 100, 112);
    padding-left: 8px;
    margin-left: 38rem;
    margin-top: -8%;
    font-family: sans-serif;
    font-size: 18px;
}
.content .h1{
    font-family: sans-serif;
    font-size: 80px;
    margin-top: 12rem;
    margin-left: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}
.middle1{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(15, 49, 49);
    background-size: auto;
    height: 60rem;
}
.middle1 .h21{
    font-family: sans-serif;
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
}
.container{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    background-color: rgb(15, 49, 49);
}
#card1, #card2, #card3, #card4, #card5, #card6{
    margin-left: 30px;
    height: 280px;
    display: flex;
    background-color: rgb(12, 36, 35);
}
.content{
    justify-content: center;
    align-items: center;
    position: relative;
}
.img img{
    margin-left: 140px;
    margin-top: 10px;
    clip-path: circle();
    position: relative;
}
.content h3{
    font-family: sans-serif;
   font-size: 15px;
   font-weight: bold;
   align-items: center;
   margin-left: 150px;
   justify-content: center;
    color: rgb(58, 155, 152);
}
.content h3 span{
    margin-top: 10px;
    font-style: italic;
    color: rgba(200, 237, 240, 0.938);
    margin-left: -15px;
}
.card a{
    margin-left: 168px;  
}
.card_hidden{
    margin-left: 30px;
    height: 280px;
    border: 2px solid white; 
    background-color: rgba(32, 56, 31, 0.7);
    text-align: center;
    align-items: center;
    color: white;
    position: relative;
    display: none;
}
.middle2{
    width: 100%;
    background-color: rgb(12, 36, 35);
    background-size: cover;
    height: 24rem;
}
.middle2 .h22{
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.904);
    font-weight: bold;
}
.text{
    color: rgba(255, 255, 255, 0.945);
    align-items: center;
    text-align: center;
}
.img1, .img2, .img3, .img4, .img5{
    text-decoration: white;
    margin-right: 40px;
}
.img1{
    margin-bottom: 160px;
}
.img2{
    margin-bottom: 160px;
}
.img3{
    margin-bottom: 160px;
}
.img4{
    margin-bottom: 160px;
}
.img5{
    margin-bottom: 240px;
}
.middle3{
    width: 100%;
    background-color: rgb(245, 100, 112);
    background-size: cover;
    height: 10rem;
}
.middle3 .h23{
    font-size: 40px;
    font-family:  'Segoe UI';
    font-weight: bold;
    padding: 50px;
    margin-left: 80px;
    color: rgb(5, 10, 10);
}
.mid .btn{
    margin-left: 80%;
    font-size: 23px;
    margin-top: -170px;
    border: 2px solid rgba(12, 9, 9, 0.938);
    border-radius: 40px;
}
.mid .btn:hover{
    background-color: rgba(255, 255, 255, 0.938);
}
.footer{
    width: 100%;
    background-color: rgb(5, 10, 10);
    background-size: cover;
    height: 10rem;
}
.footname{
    padding: 30px;
    margin-left: 60px;
    font-weight: bold;
    color:rgba(245, 250, 250, 0.822);
}
.h6{
    padding-top: 10px;
}
.footname .dis{
    margin-left: 45px;
}
.footadd{
    margin-left: 30%;
    margin-top: -120px;
    color: #f5fafa63;  
}
.footlink{
    align-items: right;
    color: rgba(245, 250, 250, 0.822);
}
.link{
    color: rgba(245, 250, 250, 0.822);
    margin-top: -100px;
    margin-left: 85%;
}
svg{
    color: rgba(245, 250, 250, 0.822);  
}
.li{
    margin-left: 15px;
}
.last{
    text-align: right;
    padding: 30px;
    color: #f5fafa63;
}